In [1]:
valor = input()

Hola

In [2]:
valor

'Hola'

In [3]:
valor = input("Introduce un valor: ")

Introduce un valorHey!

In [4]:
numero = input("Introduce un entero: ")

Introduce un entero: 123

In [5]:
numero = int(numero)

In [6]:
numero

123

In [7]:
numero + 10

133

In [8]:
flotante = input("Introduce un flotante: ")

Introduce un flotante: 10.5

In [9]:
flotante = float(flotante)

In [10]:
flotante

10.5

In [13]:
#se puede dar formato de inmediato
valor_nuevo = float(input("Introduce algún número o flotante: "))

Introduce algún número o flotante: 10

In [14]:
valor_nuevo

10.0